<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Salarios Boston 2014 JSON</title>
        <link rel='stylesheet' href='css/main.css'>
    </head>
    <body>
        <h1> Actividad JSON Salarios Boston 2014</h1>
    <div>
        <ul>
            <li><a href="/">PÁGINA PRINCIPAL</a></li>
            <li><a href="/ficherojson">FICHERO JSON COMPLETO</a></li>
            <li><a href="/departamentos">DEPARTAMENTOS</a></li>
            <li><a href="/salariomasalto">SALARIO MÁS ALTO</a></li>
            <li style="float:right"><a class="active" href="/about">About</a></li>
          </ul>
          <br>
    </div>
