<%- include('partials/head') %>
   
<p>Actividad para practicar la programación JavaScript, Node.js, GitHub y Docker</p>
<br>

<p>Se hace uso de los módulos de:</p>
<p>- npm install node-fetch para la lectura de archivos JSON.</p>
<p>- npm install express para ejecutar un servidor.</p>
<p>- npm install ejs para mandar datos de backend a frontend de forma más eficiente.</p>
<p>- npm install nodemon para que se ejecute el servidor automáticamente con cada cambio en la programación.</p>
<br>

<p>El repositorio de GitHub es el siguiente: <b>git@github.com:JorgeJuanRO/MITPE-BostonSalaries.git</b></p>
<p>El repositorio de Docker es el siguiente: <b></b></p>
<br>

<p>Espero que sea de interés.</p>
<p><b>Jorge J. Rosillo.</b></p>
    
<%- include('partials/footer') %>